gradle-wrapper.jar
/.gradle
/app/storeassets/
/app/src/main/ic_launcher-playstore.png
/app/appkey.jks
/captures/
/gradlew
/gradlew.bat
/key.properties
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
